{% extends 'base.html.twig' %}

{% block title %}Search results!{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}

    <div class="example-wrapper">
        <div class="row">
            <div class="col-md-12">
                 <h1>Search results: ✅</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Found articles for "{{ queryString }}": {{ articles|length }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                {% for article in articles %}
                <li>
                    <div class="media text-muted">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                           <a href="{{ path('article_show', {slug: article.slug}) }}">{{ article.title }}</a>
                            {{ article.body | slice(0, 255) ~ '...'  }}
                        </p>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-lg btn-primary" href="{{ path('app_default') }}">Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}
