{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% include('navbar.html.twig') %}
<div class="example-wrapper">
    <h1>{{ article.title }}</h1>

    <p><small>{{  article.createdAt|date('d-m-Y') }}</small></p>

    {{  article.body }}

    <div class="row">
        <div class="col-md-1"><a href="{{ path('article_edit', {'slug': article.slug}) }}">Edit</a></div>
        <div class="col-md-11"><a href="{{ path('article_delete', {'slug': article.slug}) }}">Delete</a></span>
    </div>
</div>
{% endblock %}
